@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  box-sizing: border-box;
}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  background-color: #484cb3;
  box-shadow: 3px 3px 3px 3px #aca6a6;
  color: white;
}

form {
  color: rgb(211, 90, 90);
}

section {
  color: #484cb3;
  font-family: 'Lora', serif;
  font-weight: bold;
}

#userimage {
  border-radius: 50%;
  height: 2.5rem;
}

header > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header > ul li {
  margin-right: 10px;
}

.loginlogout:hover{
  cursor: pointer;
}

main {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stadiumheader {
  color: rgb(211, 90, 90);
  text-decoration: underline;
}

input,
select {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  color: #484cb3;
  border: 2px solid #737495;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}

label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
  
#stadiumspan {
  color: rgb(211, 90, 90);
  width: 4.5rem;
  padding-right: 7px;
}

#locationspan {
  color: rgb(211, 90, 90);
  width: 4.5rem;
  padding-right: 4px;
}

button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 0 auto;
  padding: 0.4rem;
  background-color: rgb(211, 90, 90);
  color: white;
  border: none;
  outline: none;
}

button:hover {
  color: white;
  background-color: #484cb3;
  cursor: pointer;
}

.stadiuminfo {
  list-style-type: none;
  color: red;
}

.loggedout {
  display: flex;
  color: blue;
  text-align: center;
}